.pagenotfound {
    .oops {
      font-size: 4rem;
      color:rgba($color: white, $alpha: 0.5);
      font-family: 'Allura';
      font-weight: bold;
    }
    .error {
      font-size: 2.5rem;
      color:rgba($color: white, $alpha: 0.5);
      font-weight: bold;
    }
    .quote {
      font-size: 3rem;
      color: rgba($color: white, $alpha: 0.5);   
      font-weight: bold;
    }
  }

  @media screen and (max-width:720px){
    .pagenotfound {
        .oops {
          font-size: 3rem;

        }
        .error {
          font-size: 1.5rem;

        }
        .quote {
          font-size: 2rem;

        }
      }
  }